{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="my-4 h4 text-center text-underline">
        <p>
            <u>
                Login
            </u>
        </p>
    </div>
    <div class="my-1">
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>
    <form action="/login" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" name="password" id="password" required placeholder="Enter Password"
                type="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock content %}